<h3 class="mb-30"><%= service.name %></h3>
<div class="row">
  <div class="col-md-3">
    <%=image_tag src="elements/d.jpg", class:"img-fluid" %>
  </div>
  <div class="col-md-9 mt-sm-20">
    <p><%= service.describle %></p>
  </div>
</div>
<br>