<% provide :title, t("views.services.index.all") %>
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_2">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="bradcam_text text-center">
          <h3><%= t "views.services.index.all" %></h3>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ bradcam_area  -->
<div class="whole-wrap">
		<div class="container box_1170">
			<div class="section-top-border">
        <%= render @services %>
        <%== pagy_bootstrap_nav(@pagy) %>
			</div>
    </div>
  </div>
</div>
